header {
  background-color: #625f63;
 
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

header .logo {
  color: #fff;
  text-align: left;
  
  font-size: 30px;
  margin: 50px;
}

.boton{
  padding: 0 16px;
  border-radius: 4px;
  background-color: #018786;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  transition: background-color 15ms linear,
  box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 50px;
  height: 36px;
  line-height: 2.25rem;
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  justify-content: center;
  align-items:center;
}
.boton:hover {
  
  background-color: #63a5a5;
}
